<a href="https://colab.research.google.com/github/ravindranaithani/App_developement/blob/main/21f1002904_NPPE_08_Dec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# @title Student's Details to be filled before the exam starts:{display-mode: "form" }

Student_Name = "Ravindra Naithani" # @param {type:"string"}
Student_Roll_No = "21f1002904" # @param {type:"string"}

## Where you have to submit the correct answers
- Google Form
- Select answers in colab file form-field also

**Note:** We will only prioritize **Google Form** responses.

- you have to make sure that the code for each question is present below the respected question number

- You will receive two **dataset links** from the portal only
  1.   Unit 1 of 2 : Preprocessing
    -  train_test_split not required  
  1.   Unit 2 of 2 : ModelBuilding
    -  train_test_split required

- This exam consists of a Regression problem.

- The target feature in the dataset is the '**Sale Price**' column.
- Random state should be taken as 27 wherever applicable.

- in google form field [None ,Select] represents no answer given
   - NAT : None
   - MCQ : Select

# Metadata

1. Year - selling year
1. Date - selling date
1. Locality - locality of the property
1. Estimated Value - estimated selling price of the property
1. Sale Price - Selling price of the property  ‚ñ∂‚ñ∂‚ñ∂ **Target**
1. num_family - Number of family staying in the property
1. Residential - Type of the property
1. num_rooms - Number of rooms
1. carpet_area - The area of an apartment that can be covered by a carpet or the net usable area is known as the carpet area.
1. property_tax_rate - yearly tax of the property($)
1. Face - Direction property is facing
1. Bathroom Count

# Shape of the dataset is (10000,12) for both units [Note if you are not getting this shape that means your data has not been uploaded correctly to the colab]

# Unit 1 of 2 : Preprocessing
- train_test_split not required.
- Take whole dataset to solve all the question.\
## [Dataset Link](https://drive.google.com/file/d/1ugXf9514sOZx5izMY7Mt6_HX8doCQLcO/view)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('/content/Preprocessing3 (1).csv')
data.shape,data.head()

((10000, 12),
          Date  Year    Locality  Estimated Value  Sale Price       Property  \
 0  2009-01-02  2009   Greenwich              NaN   5187000.0              ?
 1  2009-01-02  2009     Norwalk              NaN    480000.0  Single Family
 2  2009-01-02  2009   Waterbury          57890.0    152000.0  Single Family
 3  2009-01-02  2009         NaN          44520.0     60000.0  Single Family
 4  2009-01-03  2009  Bridgeport          91071.0    250000.0     Two Family

       Residential  num_rooms  num_bathrooms  carpet_area  property_tax_rate  \
 0  Detached House          3              2       1026.0           1.025953
 1  Detached House          3              2       1051.0           1.025953
 2  Detached House          3              2        943.0           1.025953
 3  Detached House          3              2       1099.0           1.025953
 4          Duplex          4              2       1213.0           1.025953

     Face
 0  South
 1   West
 2   East
 3  North
 4  South  )

In [ ]:
# @title Q1. [marks : 1] Which dataset are you using for this exam? {vertical-output: true, display-mode: "form", run:"auto" }
Ans1 = "Preprocessing3.csv" # @param ["Preprocessing1.csv","Preprocessing2.csv","Preprocessing3.csv","Preprocessing4.csv","Preprocessing5.csv","Select"]
# correct = "Preprocessing3.csv"
# if Ans1 == correct:
#   print("correct")
# else :
#   print(f"correct answer should be : {correct}")

In [ ]:
data.columns

Index(['Date', 'Year', 'Locality', 'Estimated Value', 'Sale Price', 'Property',
       'Residential', 'num_rooms', 'num_bathrooms', 'carpet_area',
       'property_tax_rate', 'Face'],
      dtype='object')

In [ ]:
data['Locality'].unique()

array(['Greenwich', 'Norwalk', 'Waterbury', nan, 'Bridgeport',
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

In [ ]:
# @title Q2. [marks : 4] What are the unique values present in the Locality feature of the dataset? {vertical-output: true, display-mode: "form" }
Ans2 = "[Bridgeport, Fairfield, Greenwich, Norwalk,Stamford,Waterbury, West Hartford]" # @param ["[Detached House, Duplex, Triplex, Fourplex]", " [West Hartford, Waterbury, Norwalk]", "[Boston, California, Greenwich, Stamford]", " [Bridgeport, Fairfield, Greenwich, Norwalk,Stamford,Waterbury, West Hartford]", "Select"]

correct = "Preprocessing3.csv"
if Ans2 == correct:
  print("correct")
else :
  print(f"correct answer should be : {correct}")

correct answer should be : Preprocessing3.csv

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               10000 non-null  object
 1   Year               10000 non-null  int64
 2   Locality           8715 non-null   object
 3   Estimated Value    8719 non-null   float64
 4   Sale Price         10000 non-null  float64
 5   Property           10000 non-null  object
 6   Residential        10000 non-null  object
 7   num_rooms          10000 non-null  int64
 8   num_bathrooms      10000 non-null  int64
 9   carpet_area        8718 non-null   float64
 10  property_tax_rate  10000 non-null  float64
 11  Face               10000 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 937.6+ KB

In [ ]:
data['Property'].unique()

array(['?', 'Single Family', 'Two Family', 'Three Family', 'Four Family'],
      dtype=object)

In [ ]:
data['Property'].value_counts()

Single Family    6761
?                1873
Two Family        795
Three Family      502
Four Family        69
Name: Property, dtype: int64

In [ ]:
#@title Q.3 [Marks: 4] Which of the following columns have categorical data?{vertical-output: true, display-mode: "form", run:"auto" }
Ans3 = "[Locality,Property,Face]" # @param ["[Estimated Value, Locality,Property]","[Estimated Value,Property,Face]", "[Locality,Property,Face]", "[num_bathrooms, Face, Year]", "Select"]
print(Ans3)

[Locality,Property,Face]

In [ ]:
#@title Q4 [marks: 4] Which of the following features have `missing`(NaN) or unknown ("?") values present in the dataset? {vertical-output: true, display-mode: "form", run:"auto" }
Ans4 = "[Estimated Value, Locality,Property]" # @param ["[Estimated Value, Locality,Property]","[Estimated Value,Property,Face]", "[Locality,Property,Face]", "[num_bathrooms, Face, Year]", "Select"]
print(Ans4)

[Estimated Value, Locality,Property]

In [ ]:
data[(data['Year']==2022) & (data['Locality']=='Greenwich')&(data['num_rooms']>=3)&
    (data['Face'].isin (['North','East'])) ].shape

(35, 12)

In [ ]:
# @title Q5[marks:4] In the **Year** 2022, how many houses (rows) located in the Greenwich **Locality** have more than equal to 3 **num_room**, and **facing** towards either the North or East? {  vertical-output: true, display-mode: "form" }
Ans5 = 35 # @param {type:"integer"}
print(Ans5)

35

# Rules for Imputing the missing(NaN) or unknown ("?") values:
- In `Preprocessing unit` train_test_split is **not requred**. Take whole dataset to solve all the question
- compute the instructed statistical values for different columns in to repalce missing(NaN) and unknown("?") values respectively.
- Ignore the missing and unknown values while calculating the statistical values.

* Replace missing values(NaN) with the MOST FREQUENT value of the **Locality** feature
* Repalce missing values(NaN) with the MEDIAN value of the **Estimated Value** feature
* Replace missing values(NaN) with the MEAN value of the **carpet_area** feature
* Replace Unknown values("?") with the MOST FREQUENT value of the **Property**.

- Write the answers related to the above imputation in below questions respectively.

In [ ]:
data['carpet_area'].mean()

1112.4767148428539

In [ ]:
#@title Q6[Marks: 4] Write the MEAN value of the **carpet_area** column of the dataset you found to replace all the Missing Values (NaN).(upto 2 digits after decimal points){  vertical-output: true, display-mode: "form" }
Ans6 = 1112.48 # @param {type:"number"}
print(Ans6)

1112.48

In [ ]:
data["Property"].mode()

0    Single Family
Name: Property, dtype: object

In [ ]:
#@title Q7 [Marks: 4] Write the value you used to replace the unknown value ("?") in the **Property**  column of the train dataset {  vertical-output: true, display-mode: "form" }
Ans7 = "Single Family" # @param ["Single Family","Two Family","Three Family","Four Family", "Select"]
print(Ans7)

Single Family

In [ ]:
data['Property']=data['Property'].replace('?','Single Family')
data['Property'].value_counts()

Single Family    8634
Two Family        795
Three Family      502
Four Family        69
Name: Property, dtype: int64

In [ ]:
data['Locality'].unique()

array(['Greenwich', 'Norwalk', 'Waterbury', nan, 'Bridgeport',
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

In [ ]:
data['Locality'].isna().sum()

1285

In [ ]:
data['Locality'].mode()

0    Bridgeport
Name: Locality, dtype: object

In [ ]:
data['Locality']= data['Locality'].fillna('Bridgeport')
data['Locality'].unique()

array(['Greenwich', 'Norwalk', 'Waterbury', 'Bridgeport', 'Fairfield',
       'West Hartford', 'Stamford'], dtype=object)

In [ ]:
data['carpet_area'].isna().sum()

1282

In [ ]:
data['carpet_area']=data['carpet_area'].fillna(data['carpet_area'].mean())
data['carpet_area'].isna().sum()

0

In [ ]:
data['Estimated Value'].isna().sum()

1281

In [ ]:
data['Estimated Value']=data['Estimated Value'].fillna(data['Estimated Value'].mean())
data['Estimated Value'].isna().sum()

0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               10000 non-null  object
 1   Year               10000 non-null  int64
 2   Locality           10000 non-null  object
 3   Estimated Value    10000 non-null  float64
 4   Sale Price         10000 non-null  float64
 5   Property           10000 non-null  object
 6   Residential        10000 non-null  object
 7   num_rooms          10000 non-null  int64
 8   num_bathrooms      10000 non-null  int64
 9   carpet_area        10000 non-null  float64
 10  property_tax_rate  10000 non-null  float64
 11  Face               10000 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 937.6+ KB

# Apply preprocessing on features of train and test datasets.

- Drop the 'Date' Column before the preprocessing steps.
- before applying any preprocessing there should not be any missing or unknown values present in the train and test dataset.
- fitting (learning) should be done only on train dataset.
- transform the train and test dataset using the fitting (learning) of train dataset

## For Numerical Features

* Scale the numerical feature of the feature matrix using the Min-Max Scaler

## For Categorical Features

* One-Hot Encode all categorical features(object columns) in the feature matrix

In [ ]:
data = data.drop(['Date'],axis = 1)

In [ ]:
data.columns

Index(['Year', 'Locality', 'Estimated Value', 'Sale Price', 'Property',
       'Residential', 'num_rooms', 'num_bathrooms', 'carpet_area',
       'property_tax_rate', 'Face'],
      dtype='object')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               10000 non-null  int64
 1   Locality           10000 non-null  object
 2   Estimated Value    10000 non-null  float64
 3   Sale Price         10000 non-null  float64
 4   Property           10000 non-null  object
 5   Residential        10000 non-null  object
 6   num_rooms          10000 non-null  int64
 7   num_bathrooms      10000 non-null  int64
 8   carpet_area        10000 non-null  float64
 9   property_tax_rate  10000 non-null  float64
 10  Face               10000 non-null  object
dtypes: float64(4), int64(3), object(4)
memory usage: 859.5+ KB

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder,MinMaxScaler
from sklearn.pipeline import Pipeline

In [ ]:
numerical_features = ['Year',  'Estimated Value', 'Sale Price',
        'num_rooms', 'num_bathrooms', 'carpet_area',
       'property_tax_rate']
categorical_features = [ 'Locality', 'Property',
       'Residential', 'num_rooms',
        'Face']
numeric_transformer = Pipeline([('scaler',MinMaxScaler())])
cat_transformer = Pipeline([('encoder',OneHotEncoder())])
column_transformer = ColumnTransformer([('num',numeric_transformer,numerical_features),
 ('cat',cat_transformer,categorical_features)])

In [ ]:
transformed_data = column_transformer.fit_transform(data)
transformed_data.shape

(10000, 30)

In [ ]:
#@title Q8 [Marks:10] How many total features you got after one-hot encoding and scaling the training dataset?{  vertical-output: true, display-mode: "form"}
Ans8 = 30 #@param {type:"integer"}
print(Ans8)

30

# Unit 2 of 2 : Model Building
## [Dataset Link](https://drive.google.com/file/d/1fZMUEsgfLvCPKWnTOEoJd8Xnn_MOumMM/view)

In [ ]:
data1= pd.read_csv('/content/Model_Building_1.csv')

In [ ]:
data1.shape

(10000, 26)

In [ ]:
data1.columns

Index(['Locality_Bridgeport', 'Locality_Fairfield', 'Locality_Greenwich',
       'Locality_Norwalk', 'Locality_Stamford', 'Locality_Waterbury',
       'Locality_West Hartford', 'Property_Four Family',
       'Property_Single Family', 'Property_Three Family',
       'Property_Two Family', 'Residential_Detached House',
       'Residential_Duplex', 'Residential_Fourplex', 'Residential_Triplex',
       'Face_East', 'Face_North', 'Face_South', 'Face_West', 'Year',
       'Estimated Value', 'num_rooms', 'num_bathrooms', 'carpet_area',
       'property_tax_rate', 'Sale Price'],
      dtype='object')

In [ ]:
# @title Q9 [marks : 0] Which dataset are you using for Unit2? {vertical-output: true, display-mode: "form", run:"auto" }
Ans9 = "ModelBuilding1.csv" # @param ["ModelBuilding1.csv", "ModelBuilding2.csv", "ModelBuilding3.csv", "ModelBuilding4.csv", "ModelBuilding5.csv", "Select"]
print(Ans9)

ModelBuilding1.csv

Split the dataset into train dataset and test dataset in the following manner :
- data (rows) index [0, 8271] should be the train dataset
- data (rows) index from 8272 till last row should be the test dataset
- columns except of the label(Sale Price) vector should be the feature matrix (X_train or X_test)
- make label vector (Y_train or y_test) containing values only from the target feature.

In [ ]:
X = data1.drop(['Sale Price'],axis = 1)
y = data1['Sale Price']

In [ ]:
X.shape , y.shape

((10000, 25), (10000,))

In [ ]:
X_train = X[:8272]
y_train = y[:8272]
X_test = X[8272:]
y_test = y[8272:]

In [ ]:
X_train.shape , y_train.shape,X_test.shape,y_test.shape

((8272, 25), (8272,), (1728, 25), (1728,))

In [ ]:
#@title Q10 [Marks: 4] How many rows are in the feature matrix of the test dataset ?{  vertical-output: true, display-mode: "form"}
Ans10 = 8272 # @param {type:"integer"}
print(Ans10)

8272

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [ ]:
LR = LinearRegression()
LR.fit(X_train,y_train)
LR.score(X_test,y_test)

0.6468929065748328

In [ ]:
#@title Q11 [Marks: 4] Apply `LinearRegression` on the train dataset. **What is the `R2 score` on the test dataset?**{  vertical-output: true, display-mode: "form"}
#@markdown ( Upto 4 digits after decimal points)
Ans11 = 0.6469 #@param {type:"number"}
print(Ans11)

0.6469

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
r2_scores = cross_val_score(LR,X_train,y_train,cv=5,scoring ='r2')
r2_scores

array([0.63553989, 0.76800107, 0.74169609, 0.81473138, 0.66269374])

In [ ]:
#@title Q12 [Marks: 6]Enter the maximum value of `ùëÖ2 score` you got using the `LinearRegression` model when computed with 5 folds from the training dataset using `cross_val_score`.{  vertical-output: true, display-mode: "form"}
#@markdown( Upto 4 digits after decimal points) obtained.
#@markdown (Hint: By default cross_val_score uses LinearRegression's scoring metric, which is  ùëÖ2 score.)

Ans12 = 0.8147 #@param {type:"number"}
print(Ans12)

0.8147

In [ ]:
from sklearn.linear_model import Ridge,Lasso
from sklearn.metrics import mean_squared_error

In [ ]:
ridge = Ridge(random_state=27)
lasso = Lasso(random_state = 27)
ridge.fit(X_train,y_train)
y_pred = ridge.predict(X_test)
mse_ridge = mean_squared_error(y_test,y_pred)
mse_ridge

301994665976.23914

In [ ]:
lasso.fit(X_train,y_train)
y_pred = lasso.predict(X_test)
mse_lasso = mean_squared_error(y_test,y_pred)
mse_lasso

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.076e+14, tolerance: 1.091e+12
  model = cd_fast.enet_coordinate_descent(

305853086563.8274

In [ ]:
#@title Q13[Marks:6] Train Ridge and Lasso with random_state=27 and keep other parameters as default using train dataset. **Which one has the least "mean squared error" for the test dataset.**{  vertical-output: true, display-mode: "form"}
Ans13 = "Ridge" # @param ["Ridge","Lasso","Both are Equal", "Select"]{type:"string"}
print(Ans13)

Ridge

In [ ]:
from sklearn.linear_model import SGDRegressor

In [ ]:
SR = SGDRegressor(random_state=27,warm_start=True,max_iter = 100)
SR.fit(X_train,y_train)
SR.score(X_test,y_test)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1548: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(

0.5267937468412169

In [ ]:
y_pred = SR.predict(X_test)
r2score = r2_score(y_test,y_pred)
r2score

0.5267937468412169

In [ ]:
#@title Q14 [Marks: 6] Train the `SGDRegressor(random_state=27,warm_start=True)` with maximum passes over the train dataset can be 100.{  vertical-output: true, display-mode: "form"}
#@markdown Write the correct R2 score for this estimator on test dataset  [NAT] (correct Upto 4 digits)

Ans14 = 0.5268 # @param {type:"number"}

# (Common Instructions for Question 15 and 16)

- create a pipeline of the PolynomialFeatures(interaction_only=True) as transformer and Lasso as an estimator.

- Use GridSearchCV for tuning the hyperparameters of the created pipeline on training dataset.

1. Keep polynomial degree as : [1,2]
2. lasso alpha value to be taken as : [10,100,1000,10000]
3. scoring : neg_mean_absolute_error.
4. cv = 5
5. n_jobs = -1 (negative one) [it helps in using all the computational power to run this job]

(Note: Kindly ignore the warning.)

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_absolute_error

In [ ]:
pipe = Pipeline([('poly',PolynomialFeatures(interaction_only = True)),('lasso',Lasso())])
param_grid = {'poly__degree':[1,2],'lasso__alpha':[10,100,1000,10000]}
grid_search = GridSearchCV(pipe,param_grid,cv=5,scoring='neg_mean_absolute_error',n_jobs = -1)

In [ ]:
grid_search.fit(X_train,y_train)
best_params = grid_search.best_params_
best_params

{'lasso__alpha': 1000, 'poly__degree': 1}

In [ ]:
#@title Q15 [Marks: 6] Mark the best `alpha` value you got using above instructions.{  vertical-output: true, display-mode: "form"}
Ans15 = "1000" # @param [10,100,1000, 10000, "Select"]{type:"string"}
print(Ans15)

1000

In [ ]:
#@title Q16[Marks: 6] Enter the best polynomial degree value you got using above instructions.{  vertical-output: true, display-mode: "form"}
Ans16 = 1 # @param{type:"number"}
print(Ans16)

1

# (Common Instructions for Question 17 and 18)
## To Reduce number of dimensions of training data with PCA. Fit the PCA model using following parameter values on training data.

* n_components= 13
* svd_solver='full'
* whiten=True
* random_state=27

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
pca = PCA(n_components = 13,svd_solver = 'full',whiten= True, random_state = 27)
X_pca_train = pca.fit_transform(X_train)
explained = pca.explained_variance_ratio_
explained

array([0.17593528, 0.10229786, 0.10113922, 0.10054125, 0.09173088,
       0.0825141 , 0.06277781, 0.04926338, 0.04607906, 0.04400039,
       0.0424835 , 0.04054112, 0.03110159])

In [ ]:
explained.sum()

0.9704054622920403

In [ ]:
#@title Q17: [Marks:6] What is the sum of `explained_variance_ratio_` ?{  vertical-output: true, display-mode: "form"}
#@markdown (upto two digits after the decimal)

Ans17 = 0.97 # @param{type:"number"}
print(Ans17)

0.97

In [ ]:
from sklearn.linear_model import RidgeCV

In [ ]:
R_CV= RidgeCV(alphas = [0.1,1,10,100,1000,10000],cv = 5)
R_CV.fit(X_pca_train,y_train)
X_pca_test = pca.transform(X_test)
y_pred = R_CV.predict(X_pca_test)
r2 = r2_score(y_test,y_pred)
r2

0.2963684940402007

In [ ]:
#@title Q18 [Marks: 6] Use PCA transformed training feature matrix from earlier question and training labels to fit the `RidgeCV` estimator with cv=5 and having alpha values as [0.1,1,10,100,1000,10000]. **Calculate the R2 score you got from the model for PCA transformed test dataset.**{  vertical-output: true, display-mode: "form"}
#@markdown (upto 4 digits after the decimal)
Ans18 = .2963 # @param{type:"number"}
print(Ans18)

0.2963

# (Common Instructions for Question 19-21)
Construct a pipeline to apply following steps
* STEP-1 Selecting 10 best features based on the f_regression score function.
* STEP-2 Apply Lasso algorithm with random_state=27 on that

In [ ]:
from sklearn.feature_selection import SelectKBest ,f_regression

In [ ]:
pipe = Pipeline([('sel_k_best',SelectKBest(score_func=f_regression,k=10)),
 ('lasso',Lasso(random_state=27))])

In [ ]:
pipe.fit(X_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.876e+14, tolerance: 1.091e+12
  model = cd_fast.enet_coordinate_descent(

Pipeline(steps=[('sel_k_best',
                 SelectKBest(score_func=<function f_regression at 0x79fdc2970790>)),
                ('lasso', Lasso(random_state=27))])

In [ ]:
selected_features = pipe.named_steps['sel_k_best'].get_support()
p_values = pipe.named_steps['sel_k_best'].pvalues_
p_values.max()

0.841406848285681

In [ ]:
#@title Q19[Marks: 5] What is the max P-VALUE you got for any feature of the train dataset?(upto 4 digits after the decimal){  vertical-output: true, display-mode: "form"}
Ans19 = 0.8415 # @param{type:"number"}
print(Ans19)

0.8415

In [ ]:
max_f_statistic = np.max(pipe.named_steps['sel_k_best'].scores_)
print(f"Q2: Max F_STATISTICS Score: {max_f_statistic:.4f}")

Q2: Max F_STATISTICS Score: 21322.2920

In [ ]:
#@title Q20[Marks: 5] What is the max F_STATISTICS score you got for any feature of the train dataset? [NAT] (upto 2 digits after the decimal){vertical-output: true, display-mode: "form"}
Ans20 = 21322.29 # @param{type:"number"}
print(Ans20)

21322.29

In [ ]:
y_pred = pipe.predict(X_test)
r2 = r2_score(y_test, y_pred)
print(f"Q3: R2 Score on Test Dataset: {r2:.4f}")

Q3: R2 Score on Test Dataset: 0.6520

In [ ]:
#@title Q21[Marks: 5] What is the R2 score you got for this model using test dataset? [NAT] (upto 4 digits after the decimal){ vertical-output: true, display-mode: "form"}
Ans21 = .6520 # @param{type:"number"}
print(Ans21)

0.652